/*-------------------------------------
//詳細ページ
--------------------------------------*/

.about{
    grid-area: main;
    letter-spacing: var(--letter-spacing-S);
}



/* --- 制作物画像 ----*/

/* PCサイズの場合、普通表示 / タブレット・スマホサイズになった場合、横スクロール表示*/
.about__product-figure--sp-scroll{
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
}
/* PC・タブレット・スマホサイズの時、横スクロール表示*/
.about__product-figure--pcsp-scroll{
  overflow-x: auto;
  max-width: 100%;
  display: flex;
}


/* バナー制作物画像の場合 */
.about__product-figure--banner--pcsp-scroll{
  width: 100%;
  height: auto;
  max-width: calc(100% - 200px);
  margin: 0 5px;
}


/* ポスター/チラシ制作物画像（PC・タブレット・スマホサイズ全て横スクロール表示）*/
.about__product-figure--poster-flyer--pcsp-scroll{
  width: 100%;
  height: auto;
  display: block;
  max-width: 500px;
  margin: 0 5px;
}


/* Webサイト制作物画像（PC・タブレット・スマホサイズ全て横スクロール表示）*/
.about__product-figure--web--pcsp-scroll{
  width: 100%;
  height: auto;
  max-width: calc(100% - 200px);
  margin: 0 5px;
}


/* UI制作物画像（PC・タブレット・スマホサイズ全て横スクロール表示）*/
.about__product-figure--ui--pcsp-scroll{
  width: 100%;
  height: auto;
  max-width: calc(100% - 200px);
  margin: 0 5px;
}


/* 制作物のタイトル */
.about__product-title{
    font-size: 1.3rem;
}
.about__product-title-block{
   margin: 20px 10px 40px;
}

/* プロフィール */
.about__product-figure--profile{
  max-width: 500px;
  width: 100%;
  padding: 20px;
  margin: 0 auto 100px;
}



@media (max-width: 767px){

/* PCサイズの場合、普通表示 / タブレット・スマホサイズになった場合、横スクロール表示にする*/
.about__product-figure--sp-scroll{
    display: flex;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    scroll-snap-type: x mandatory;
}

/* バナー制作物画像の場合 */
.about__product-figure--banner--pcsp-scroll{
  max-width: calc(100% - 40px);
}

/* ポスター/チラシ制作物画像（PC・タブレット・スマホサイズ全て横スクロール表示）*/
.about__product-figure--poster-flyer--pcsp-scroll{
  max-width: calc(100% - 50px);
}


/* Webサイト制作物画像（PC・タブレット・スマホサイズ全て横スクロール表示）*/
.about__product-figure--web--pcsp-scroll{
  max-width: calc(100% - 40px);
}


/* UI制作物画像（PC・タブレット・スマホサイズ全て横スクロール表示）*/
.about__product-figure--ui--pcsp-scroll{
  max-width: calc(100% - 40px);
}


/* 制作物のタイトル */
.about__product-title{
  font-size: 1.1rem;
}
}



/*-------------------------------------
//設計プロセス
--------------------------------------*/

/* タイトル */
.about__product-design-title {
font-size: 1rem;
margin-bottom: 10px;
margin-right: 10px;
margin-left: 10px;
}

/* プロセスごとの余白調整 */
.about__product-design-list {
gap: 10px;
margin: 10px;
}
  


/* 共通ブロック */
.about__product-design {
padding: 10px;
border-radius: var( --border-radius-5);
color: #fff;
}
.about__product-design:last-of-type {
    margin-bottom: 100px;
}

/* ラベル */
.about__product-label {
font-size: .9rem;
margin-bottom:8px;
}

/* 説明文 */
.about__product-description-list{
  list-style-position: inside;
  padding-left: 20px;
  margin: 0;
}

.about__product-description-dic {
margin: 0;
line-height: var(--line-height-L);
font-size: .8rem;
list-style: disc;
margin: 10px auto;
}


@media (max-width: 767px){

/* 説明文 */
.about__product-description-dic {
  margin: 13px auto;
  }
}


/*-------------------------------------
//カラーバリエーション
--------------------------------------*/
/* 背景色 */

/* 課題カラー */
.about__product-bg--phase-1 {
    background-color: var(--color-white-bg);
  }
  
  .about__product-bg--phase-2 {
    background-color: var(--color-white-bg);
  }
  
  .about__product-bg--phase-3 {
    background-color: var(--color-white-bg);
  }
  
  .about__product-bg--phase-4 {
    background-color: var(--color-white-bg);
  }
  
  .about__product-bg--result {
    background-color: var(--color-white-bg);
  }
  

/* フォントカラー */

/* 課題カラー */
.about__product-text--phase-1 {
    color: #8D8D8D;
}

.about__product-text--phase-2 {
    color: #00ACCB;
}

.about__product-text--phase-3 {
    color: #0085CC;
}

.about__product-text--phase-4 {
    color: #0060c0;
}

.about__product-text--result {
    color: #FF7600;
}


/*-------------------------------------
//矢印
--------------------------------------*/
  .about__product-design-arrow {
    width: 0;
    height: 0;
    margin: 0 auto;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 8px solid #c6c6c6;
  }