/*-------------------------------------
//プロフィール
--------------------------------------*/

/* PC上で見せる時 */
.profile{
  grid-area: profile;
  background-color: var(--color-white-bg);
  border-radius: var( --border-radius-10);
  padding: 10px 15px;
  overflow-y: auto;
}

/* スマホ上で見せる時 */
.profile_sp{
  position: fixed;
  top: 0;
  right: 0;
  z-index: 999;
  margin: 10px;
  width: auto;
  display: none;
  filter: drop-shadow(0px 0px 10px rgba(0,0,0, .1));
}

.profile_sp__link{
  background: #fff;
  padding: 10px;
  border-radius: var(--border-radius-100);
}

/* プロフィールアイコン画像 */
.profile_sp__img{
  width: 35px;
  height: 35px;
  border-radius: var(--border-radius-100);
  margin-right: 10px;
}

/* プロフィール名 */
.profile_sp__subtitle{
  font-size: .4rem;
  color: var( --color-whitegray-text);
}
.profile_sp__title{
  font-size: .6rem;
}

@media (max-width: 767px){
  .profile_sp{
    display: block;
  }
}



/*-------------------------------------
//共通
--------------------------------------*/

/* プロフィール内の項目ごとの幅 */

/* 大項目 */
.profile__m-L{
  margin-bottom: 40px;
}

/* 中項目 */
.profile__m-M{
  margin-bottom: 15px;
}

/* 小項目 */
.profile__m-S{
  margin-bottom: 8px;
}


/* 項目ごとのタイトル */
.profile__title{
  font-size: .9rem;
  letter-spacing: var(--letter-spacing-M);
}
.profile__title::before{
  content: "";
  display: inline-block;
  height: 1.1rem;
  width: 4px;
  vertical-align: -0.2rem;
  background-color: var(--color-blue-bg);
  margin-right: 5px;
  border-radius: var(--border-radius-10);
}


/*-------------------------------------
//プロフィール詳細
--------------------------------------*/

/* プロフィール写真 */
.profile__icon{
  border-radius: var(--border-radius-20);
}

/* プロフィール名前 */
.profile__name-ja{
  font-size: 2rem;
  line-height: var(--line-height-XS);
}
.profile__name-en{
  font-size: .7rem;
  letter-spacing: var(--letter-spacing-L);
  color: var(--color-whitegray-text);
}


/* プロフィール情報 */
.profile__meta{
  line-height: var(--line-height-S);
}

.profile__meta-label{
  display: inline-block;
  font-size: .7rem;
  letter-spacing: var(--letter-spacing-S);
}
.profile__meta-label::after{
  content: ":";
  padding: 0 3px;
}
.profile__meta-value{
  display: inline-block;
  font-size: .7rem;
  letter-spacing: var(--letter-spacing-S);
}



/*-------------------------------------
//スキルソフト情報
--------------------------------------*/

/* スキル情報の幅 */
.profile__soft-skill{
  gap: 15px;
}


/* スキルアイコン */

/* Adobe */
.profile__soft-icon-adobe img{
  width: 30px;
  height: auto;
  margin-right: 10px;
}
/* 言語 */
.profile__soft-icon-lang img{
  width: 28px;
  height: auto;
  margin-right: 10px;
}
/* Figma */
.profile__soft-icon-figma img{
  width: 24px;
  height: auto;
  margin-right: 10px;
}


/* スキル値 */
.profile__blue-cicle,.profile__gray-cicle{
  border-radius: var(--border-radius-100);
  width: 10px;
  height: 10px;
  display: inline-block;
}
.profile__blue-cicle{
  background-color: var(--color-blue-bg);
}
.profile__gray-cicle{
  background-color: var(--color-whitegray-text);
}



/*-------------------------------------
//趣味・好きなこと
--------------------------------------*/

.profile__favorites-title{
  display: inline-block;
  font-size: .8rem;
  letter-spacing: var(--letter-spacing-S);
}
.profile__favorites-ditails{
  display: inline-block;
  font-size: .8rem;
  letter-spacing: var(--letter-spacing-S);
  line-height: var(--line-height-M);
}


/*-------------------------------------
//これまでのキャリア
--------------------------------------*/

.profile__career-meta{
  display: block;
  font-size: .7rem;
  color: var(--color-whitegray-text);
  letter-spacing: var(--letter-spacing-XS);
}
.profile__career-title{
  display: inline-block;
  font-size: .8rem;
  letter-spacing: var(--letter-spacing-S);
}
.profile__career-ditails{
  display: inline-block;
  font-size: .7rem;
  letter-spacing: var(--letter-spacing-S);
  line-height: var(--line-height-L);
}
