/*-------------------------------------
//ダッシュボード　グリッド
--------------------------------------*/

/* 一覧ページ */
.grid__home-container{
  display: grid;
  grid-template-areas: 
  "sidebar main profile";
  grid-template-columns: 200px 1fr 300px; 
  grid-template-rows: 1fr;
  height: 100vh;
}

@media (max-width: 900px){
  .grid__home-container{
    grid-template-columns: 200px 1fr 250px; 
  }
}

@media (max-width: 767px){
.grid__home-container{
  grid-template-areas:"main" "profile" "sidebar";
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  height:auto; 
}
}


/* 詳細ページ */
.grid__detail-container{
  display: grid;
  grid-template-areas: 
  "sidebar main";
  grid-template-columns: 200px 1fr; 
  grid-template-rows: 1fr;
  height: 100vh;
}

@media (max-width: 767px){
  .grid__detail-container{
  grid-template-areas:"main" "sidebar";
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  height:auto; 
}
}



