/*-------------------------------------
//コンテンツの表示・非表示
--------------------------------------*/
.contents {
  display: none;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.contents.active {
  display: block;
  opacity: 1;
}

.contents.hidden {
  display: none;
  opacity: 0;
}


@media (max-width: 767px){

  .contents.active {
    margin-bottom: 120px;
  }
}